<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio AmbiTech Solutions</title>

    <!-- Estilos de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" tye=text/css/>



</head>
<body>

    <!-- Barra de menú -->
    <nav class="navbar navbar-expand-lg nav-link fixed ">
        <a class="nav-link" href="/">Mi Sitio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                 
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/funcionamiento">¿Qué hacemos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preguntas">Preguntas Frecuentes</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Login">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soporte">Soporte</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container-fluid custom-container" >
        <img class='logo' src="/static/logo.jpg" alt='logo'></img>
         <div class="text-background">
        <h1>Bienvenido a AmbiTech Solutions</h1>
        <p>Nos encargamos de hacer de tu hogar un lugar mas acogedor y único para tí.</p>
        
        <a href="/Login" class="btn btn-primary">¡Regístrate Ahora!</a>
        </div>
    </div>

    <!-- Scripts de Bootstrap y dependencias -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
