<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>

    <!-- Estilos de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylePreguntas.css" tye=text/css/>



</head>
<body>

    <!-- Barra de menú -->
    <nav class="navbar navbar-expand-lg nav-link fixed ">
        <a class="nav-link" href="/">Mi Sitio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/funcionamiento">¿Qué hacemos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preguntas">Preguntas Frecuentes</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Login">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soporte">Soporte</a>
                </li>
            </ul>
        </div>
    </nav>
    <body>
    <div class="Fondo">
        <div class="container">
       
        <img class='logo' src="/static/logo.jpg" alt='logo'></img>
        <h1>Preguntas Frecuentes</h1>
        <div class="faq-item">
            <div class="faq-question">¿Qué hace que los dispositivos de iluminación de AmbiTech Solutions sean únicos?</div>
            <div class="faq-answer">En AmbiTech Solutions, nos especializamos en crear dispositivos de iluminación LED inteligentes que combinan estilo y funcionalidad.
            Nuestros productos utilizan tecnología de vanguardia para detectar automáticamente la ausencia de luz y permiten al usuario controlar la intensidad de la luz, 
            todo desde su dispositivo móvil.
</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">¿Qué es CSS?¿Cómo funcionan los sensores de ausencia de luz en los dispositivos de AmbiTech Solutions?</div>
            <div class="faq-answer">Nuestros dispositivos incorporan sensores de alta precisión que detectan la falta de luz ambiental.
            Cuando la luz disminuye por debajo de un umbral específico, el dispositivo se activa automáticamente, iluminando la zona. 
            Esto garantiza que no tengas que buscar interruptores ni preocuparte por la iluminación en momentos de poca luz.

</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">¿Puedo controlar los dispositivos de iluminación de AmbiTech Solutions desde mi teléfono o dispositivo inteligente?
        </div>
            <div class="faq-answer">Sí, definitivamente. Nuestros dispositivos son compatibles con móviles que te permiten controlar la intensidad de la luz y 
            programar horarios de encendido y apagado, ya que trabajamos con una páginad e internet donde podrás controlar esto.
            Puedes personalizar la iluminación según tus preferencias y necesidades.
        </div>
        </div>
         <div class="faq-item">
            <div class="faq-question">5. ¿Es complicada la instalación de los dispositivos de AmbiTech Solutions?</div>
            <div class="faq-answer">La instalación de nuestros dispositivos es sencilla y no requiere de conocimientos técnicos avanzados. 
            Incluimos instrucciones detalladas y soporte en línea para asegurarte de que la instalación sea rápida y sin complicaciones.
        </div>
        </div>
    </div>
</body>
