<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Productos</title>

    <!-- Estilos de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" tye=text/css/>



</head>
<body>
    <!-- BARRA DE ACCESO-->
    
     <nav class="navbar navbar-expand-lg nav-link fixed ">
        <a class="nav-link" href="/">Mi Sitio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/funcionamiento">¿Qué hacemos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preguntas">Preguntas Frecuentes</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Login">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soporte">Soporte</a>
                </li>
            </ul>
        </div>
    </nav>
      <!-- Contenido -->
   <img class='logo' src="/static/logo.jpg" alt='logo'></img>
    <div class='FondoFun'>

            
       
        <h1 class='relative'>¿Listo para conocernos?</h1>
        <div class=' flex '>
          <section>
            <div class='flex-item'>
                
                    
                
                  <h3>¿Qué hacemos?</h3>
                <p>En AmbiTech Solutions, nuestra misión es transformar tu hogar en un espacio verdaderamente único y acogedor. Nos especializamos en la creación de dispositivos de iluminación LED inteligentes que no solo iluminan tu vida, sino que también la simplifican. 
                Nuestros productos están diseñados para combinar funcionalidad y estilo, para que tu hogar refleje tu personalidad y se adapte a tus necesidades..</p>
             <img class='img1' src="/static/Decoracion2.jpg" alt='Decoracion2'></img>
                
            </div>
            <div  class='flex-item2'>
                <h3>¿Cómo lo logramos?</h3>
                
                <p>En AmbiTech, empleamos tecnología de vanguardia para ofrecerte el máximo control sobre la iluminación en tu hogar. 
                Nuestros dispositivos incorporan sensores avanzados que detectan automáticamente la temperatura de tu hogar. Además, te brindamos la posibilidad de personalizar y ajustar la intensidad de la luz según tus preferencias,
                todo desde la comodidad de tu smartphone o dispositivo inteligente. Con nosotros, la iluminación se convierte en una experiencia personalizada y 
                eficiente.</p>
                <img class='img1' src="/static/Decoracion1.jpg" alt'Decoracion1'></img>
            </div>
            <div class='flex-item3'>
                <h3>Únete a la experiencia</h3>
                
            <p>AmbiTech está aquí para iluminar tu vida de una manera más inteligente y elegante. Descubre cómo nuestros dispositivos pueden
            hacer que tu hogar sea más cómodo, funcional y estéticamente agradable. ¡Bienvenido a un nuevo mundo de iluminación!</p>
            
            <img class='img1' src="/static/Decoracion3.jpg" alt="Decoracion3"></img>
            </div>   
            </section>
        </div>
   
    </div>
</body>